about-time==4.2.1
alive-progress==3.3.0
contourpy==1.4.0
cycler==0.12.1
decorator==5.3.1
fonttools==4.65.0
future==1.0.0
graphemeu==0.7.2
kiwisolver==1.5.1
Mako==1.4.1
MarkupSafe==3.0.3
matplotlib==3.11.2
numpy==2.5.3
opm==2026.4
packaging==26.3
pillow==12.3.0
pyarrow==25.0.1
pyopmspe11 @ file:///home/AD.NORCERESEARCH.NO/bika/workstation/cpr/spe11_decks/pyopmspe11
pyparsing==3.3.3
python-dateutil==2.9.0.post0
rtree==1.4.1
scipy==1.18.1
shapely==2.1.2
six==1.17.0
